body,
html {
    background: lightgray;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.row {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    margin-top: 127px;
}


header {
    background: #000000;
    width: 100%;
    z-index: 10;
    height: 80px;
    position: fixed;


    .logoName {
        h1 {
            font-family: 'Rowdies', cursive;
        }
    }

    .activeMenuItem {
        border-bottom: solid yellow;
        padding-bottom: 19px;
    }




    .mainMenu {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ul {
            padding: 0px;
            margin: 0px;

            li {
                list-style: none;
                margin: 0px 10px 0px 10px;
                color: #ffffff;
                font-size: 22px;

                &:hover {
                    cursor: pointer;
                }

                padding-bottom: 19px;

                a {
                    color: white;
                    text-decoration: none;
                }

                i {
                    font-size: 22px;
                }
            }


        }
    }


}

#heroImage {
    background-image: url('../../public/images/background-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper {
        background: rgba(0, 0, 0, 0.5);

        color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        width: 67vw;
    }
}

.propertyWrapper {
    position: relative;

    p {
        position: absolute;
        color: #ffffff;
        margin: 0px;

        &:first-of-type {
            bottom: 0px;
            background: rgba(0, 0, 0, 0.5);
            padding: 5px;
            font-size: 30px;

            @media only screen and (max-width: 768px) {
                font-size: 15px;
            }
        }


        &:nth-last-of-type(1) {
            bottom: 0px;
            right: 0px;
            background: rgba(0, 0, 0, 0.5);
            padding: 5px;
            font-size: 30px;

            @media only screen and (max-width: 768px) {
                font-size: 15px;
            }
        }
    }


}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;

    i {
        font-size: 50px;
    }

}

.slick-next {
    right: 5px;
}

.slick-prev {
    left: 5px;
}


#map {
    height: 400px;
}

.propertyPhotoSlider {
    height: 399px;

    .slick-list {
        height: 399px;
    }
}

form[name="booking"],
form[name="registration_form"] {
    width: 75%;
    margin: 0px auto;
}

form[name="filter_form"] {
    height: 100%;


    .col-12 {
        justify-content: center;
        display: flex;
        align-items: center;
        margin-bottom: 60px;

        div {
            width: 75%;
        }

        label {
            color: #ffffff;
        }
    }
}

.tabInfo2 {
    display: none;

}

.bookingContainer {
    overflow-y: scroll;
    height: 500px;
}

.filters {
    position: fixed;
    height: 100%;
    left: 0px;
    width: 300px;
    top: 80px;

    .col-12 {
        margin-bottom: 60px;
    }


}

.content {
    margin-left: 300px;
    margin-top: 81px;
    width: 100%;
}

.bookings-wrapper {
    margin-top: 80px;
}

.flash-message {
    margin-top: 81px;
}


.wrapperSecurity {
    margin-top: 187px;

}

.contactBanner {
    background-image: url("../../public/images/Screenshot\ 2020-11-15\ at\ 20.29.11.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    margin-top: 80px;
    background-position: center;



    .overlayBanner {
        background: #000000;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: #ffffff;
            font-size: 60px;
            font-weight: bold;
        }
    }
}


.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    padding: 2px;
    color: #ffffff;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a:hover,
    a {
        width: 100%;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;

    }
}

.dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: #ffffff !important;
}

button:focus {
    outline: none !important;
}

.mobileMenu {
    background: #ffffff;
    width: 0;
    position: fixed;
    top: 80px;
    left: 0px;
    height: 100%;
    z-index: 4;
    transition: 0.8s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;


    a,
    a:hover {

        text-decoration: none;
        font-size: 30px;
        color: #000000;
        display: block;
        transition: 0.3s;
        font-family: 'Rowdies', cursive;

    }

}

.activeMenu {
    width: 70%;

}

.show {
    display: block !important;
}

.overlay {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    position: fixed;
    display: none;
}

.logoName {
    h1 {
        @media only screen and (max-width:760px) {
            font-size: 2rem;
        }

        @media only screen and (max-width:500px) {
            font-size: 1.5rem;
        }
    }

}


.content {
    @media only screen and (max-width:990px) {
        margin-left: 0px;
    }
}


.filtersMobile {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 47px;
    background: #000000;
    z-index: 4;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .filtersMobile__titleTab {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: blue;
        padding: 10px;
    }

    .filtersMobile_content {
        height: 85%;
    }


}

.filtersMobile__active {
    height: 80vh;
}



//   .loader{
//       background: grey;
//       width: 100%;
//       height: 100%;
//       position: fixed;
//       z-index:400;
//   }